.navbar{
	padding-left: 10px;
	padding-right: 10px;
}

.img-responsive.img-center {
  margin: 0 auto;
}

.jumbotron {
background-image: url("../img/jumbotron_bg.jpg");
background-size: cover;}

.navbar-text{
	color: white !important;
}

